:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(248, 120, 15, 0.87);
  background-color: #ffefe1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

input {
  color: black;
  margin: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.1em;
  margin-top: 15px;
  color: white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d87f2b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(248, 120, 15, 0.87);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

